*{
    margin: 0;
    padding: 0;
}
#main_header{
    background-color: #634512;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo{
    cursor: pointer;
}
.logo img{
    width: 150px;
}
.menus ul{
    list-style: none;
    display: flex;
}
.menus ul li{
    margin-left: 30px;
}
.menus ul li:first-child{
    margin-left: 0;
}
.menus ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.menus ul li a:hover{
    color: #f4dc03;
}
.main_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 100vh;
}
.main_content .content{
    font-family: Arial, Helvetica, sans-serif;
}
.main_content .content h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.main_content .content button{
    background-color: #d72610;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}
.main_content .content button:hover{
    background-color: #a21c0b;
}
.main_content .baner img{
    width: 300px;
}

