*{
    margin: 0;
    padding: 0;
}
.fix{
    overflow: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}



/* Main Header Part */

#main_header{
    background-color: #634512;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo{
    cursor: pointer;
}
.logo img{
    width: 150px;
}
.menus ul{
    list-style: none;
    display: flex;
}
.menus ul li{
    margin-left: 30px;
}
.menus ul li:first-child{
    margin-left: 0;
}
.menus ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.menus ul li a:hover{
    color: #f4dc03;
}




/* Main Content Part */

.main_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-color: #181818;
    color: #fff;
    padding: 20px;
    height: 100vh;
}
.main_content .content h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.btn{
    background-color: #d72610;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background-color: #a21c0b;
}
.main_content .baner img{
    width: 300px;
}



/* About Part */


.about_part h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}
.about_part_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28rem;
}
.about_part_banner img{
    width: 350px;
}



/* Service Part */


.service_part{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #181818;
    color: #fff;
    padding: 20px;
    height: auto;
}
.service_part h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
.service_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.service_content img{
    width: 70px;
}
.service_content .box{
    box-shadow: 4px 2px 30px #808080 ;
    width: 230px;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-right: 15px;
    transition: all .5s ease;
    cursor: pointer;
}
.service_content .box:hover{
    background-color: #1e1d1d;
}
.service_content .box:last-child{
    margin-right: 0;
}
.service_content .box h2{
    margin: 10px 0;
}
.service_content .btn_two{
    padding: 8px 20px;
    background-color: #434343;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.service_content .btn_two:hover{
    background-color: #2f2f2f;
}


/* Footer Part */

.footer_main{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.footer_content{
    margin-right: 30px;
}
.footer_content:last-child{
    margin-right: 0;
}
.footer_content img{
    width: 150px;
}
.footer_content ul li{
    list-style: none;
    margin: 10px 0;
}
.footer_content ul li a{
    text-decoration: none;
    color: #fff;
}
.footer_content ul li a:hover{
    color: #f4dc03;
}
.footer_content p{
    margin: 10px 0;
}
.footer_content h3{
    margin-bottom: 20px;
}


.footer_bottom{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}